@{
	ViewBag.Title = "About";
}
<h2>About</h2>
<h3>Please download the Spec on the ilms !</h3>
<a href="https://hackmd.io/s/Bym5ggh1V?fbclid=IwAR2ehPlVFbbM-4eVP9nvkVPgrIGfkiQ_MhJdHQWtYcI8nxGhzVtcUKiDB1k">If you don't understand English, maybe you can click this link.</a>
