@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	<strong>蔡仁松教授</strong> <a href="mailto:rstsay@gmail.com">rstsay@gmail.com</a><br />
    <strong>陳其威</strong> <a href="mailto:chiwei955201314@gmail.com">chiwei955201314@gmail.com</a><br />
    <strong>朱彥睿</strong> <a href="mailto:raychu851208@gmail.com">raychu851208@gmail.com</a><br />
	<strong>諸恩弘</strong> <a href="mailto:aandytwa@gmail.com">ahhhhuang@gmail.com</a><br />
</address>