@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="background-color:transparent;">
	<h1 class="FadeInWord_ONE">Data Structure</h1>
	<br/>
	<br/>
	<h2 class="FadeInWord_TWO">Enjoy Class, Enjoy Challenge</h2>
	<h2 class="FadeInWord_THREE">                    - TA</h2>
</div>
