
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
<p>@ViewBag.Message</p>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "Multipart/form-data" }))
{
	@Html.AntiForgeryToken();
	<input type="file" name="namefile" />
	<input type="submit" value="Upload" class="btn btn-default" />
}